<!-- app/views/welcome/hello.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <div>
    <h1>Welcome to My Store App!</h1>
    <p>This is your new beautiful custom welcome page for My Store app.</p>
  </div>
</body>
</html>
